<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Admin panel</h1>

    <h3>Edit product</h3>

    <form th:action="@{/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Name" th:value="${product.name}" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" placeholder="Description" th:value="${product.description}" />
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>

        <div>
            <label for="price">Price</label>
            <input id="price" th:field="*{price}" placeholder="Price" th:value="${product.price}" />
            <p class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>

        <div>
            <select th:field="*{categoryId}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>

</body>
</html>