<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Admin panel</h1>

<h3>Edit order: <span th:text="${order.id}"></span></h3>

<form th:action="@{/admin/orders/edit/{id}(id=${order.id})}" th:object="${order}" method="post">

    <div>
        <label for="status">Status</label>
        <select id="status" th:field="*{status}">
            <option th:each="status : ${statusTypes}" th:value="${status}" th:text="${status.type}"/>
        </select>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>