<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Admin panel</h1>

<h3>Orders</h3>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.id}">Id</td>
            <td th:text="${order.date}">Date</td>
            <td th:text="${order.amount}">Amount</td>
            <td th:text="${order.status.type}">Amount</td>
            <td><a th:href="@{/admin/orders/{id}(id=${order.id})}">More</a></td>
            <td><a th:href="@{/admin/orders/edit/{id}(id=${order.id})}">Edit</a></td>
        </tr>
    </tbody>

</table>

<p><a th:href="@{/admin/}">Main</a></p>

</body>
</html>