<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Admin panel</h1>

<h3>Order details</span></h3>

<table>
    <thead>
    <tr>
        <th>Order id</th>
        <th>Product id</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetails: ${order_details}">
        <td th:text="${orderDetails.orderId}">Order id</td>
        <td th:text="${orderDetails.productId}">Product id</td>
        <td th:text="${orderDetails.quantity}">Quantity</td>
        <td th:text="${orderDetails.price}">Price</td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/orders/}">Back</a>
<p><a th:href="@{/admin/}">Main</a></p>

</body>
</html>